<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @title%></title>

    <link rel="stylesheet" href="stylesheets/pure-min.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="stylesheets/book_viewer.css">
</head>

<body>

  <ul>
  <% @files.each_with_index do |file, index| %>
    <li>
      <a href="<%= file %>"><%= @basenames[index] %></a>
    </li>
  <% end %>
  </ul>

  <p>
    <% if params[:sort] == 'desc' %>
      <a href="/">Sort ascending</a>
    <% else %>
      <a href="/?sort=desc">Sort descending</a>
    <% end %>
  </p>

  <script type="text/javascript" src="/javascripts/ui.js"></script>
</body>
</html>
